resources/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Address" xmlns:tns="http://www.example.org/Address" elementFormDefault="qualified">

    <complexType name="Address">
    	<sequence>
    		<element name="Addline1" type="string"></element>
    		<element name="Addline2" type="string"></element>
    		<element name="City" type="string"></element>
    		<element name="State" type="string"></element>
    		<element name="Zip" type="string"></element>
    	</sequence>
    </complexType>
</schema>